In [1]:
import pandas as pd
import sqlite3 as sl

In [16]:
con = sl.connect('olympic_db.sqlite')

In [64]:
con = sl.connect('olympic_db.sqlite')
olympic_df = pd.read_sql_query('SELECT tab.team, tab.games, tab.seasons,\
    tab.city, tab.medal, tab.sport, tab.event, tab.NOC, noc.region\
    FROM tab LEFT JOIN noc ON tab.NOC=noc.NOC;', con=con)
olympic_df[['year','season']] = olympic_df['games'].str.split(' ', 1, expand=True)
olympic_df['year'] = olympic_df['year'].astype(int)
noc_df = pd
pop_df = pd.read_sql_query('SELECT * FROM pop_yr;', con=con)

#pop_df.set_index('country_name', inplace=True)
olympic_df.set_index('region', inplace=True)
print(olympic_df.dtypes)

olympic_df = olympic_df.sort_values('year', ascending=True)

print(olympic_df.columns)
print(pop_df.columns)
olympic_df.head()

team       object
games      object
seasons    object
city       object
medal      object
sport      object
event      object
NOC        object
year        int32
season     object
dtype: object
Index(['team', 'games', 'seasons', 'city', 'medal', 'sport', 'event', 'NOC',
       'year', 'season'],
      dtype='object')
Index(['country_name', 'country_code', '1960', '1961', '1962', '1963', '1964',
       '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973',
       '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982',
       '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018'],
      dtype='object')

,team,games,seasons,city,medal,sport,event,NOC,year,season
region,,,,,,,,,,
Hungary,Hungary,1896 Summer,Summer,Athina,Gold,Swimming,"Swimming Men's 1,200 metres Freestyle",HUN,1896,Summer
Greece,Greece,1896 Summer,Summer,Athina,Bronze,Swimming,Swimming Men's 100 metres Freestyle For Sailors,GRE,1896,Summer
Austria,Austria,1896 Summer,Summer,Athina,Silver,Swimming,Swimming Men's 100 metres Freestyle,AUT,1896,Summer
Greece,Greece,1896 Summer,Summer,Athina,Silver,Swimming,Swimming Men's 500 metres Freestyle,GRE,1896,Summer
Greece,Greece,1896 Summer,Summer,Athina,Bronze,Swimming,Swimming Men's 500 metres Freestyle,GRE,1896,Summer

In [65]:
merge_df = pd.merge(olympic_df, pop_df, left_on='region', right_on='country_name')

In [66]:
merge_df.head()

,team,games,seasons,city,medal,sport,event,NOC,year,season,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Hungary,1896 Summer,Summer,Athina,Gold,Swimming,"Swimming Men's 1,200 metres Freestyle",HUN,1896,Summer,...,10022650.0,10000023.0,9971727.0,9920362.0,9893082.0,9866468.0,9843028.0,9814023.0,9781127.0,None
1,Hungary,1896 Summer,Summer,Athina,Gold,Swimming,Swimming Men's 100 metres Freestyle,HUN,1896,Summer,...,10022650.0,10000023.0,9971727.0,9920362.0,9893082.0,9866468.0,9843028.0,9814023.0,9781127.0,None
2,Hungary,1900 Summer,Summer,Paris,Bronze,Swimming,"Swimming Men's 1,000 metres Freestyle",HUN,1900,Summer,...,10022650.0,10000023.0,9971727.0,9920362.0,9893082.0,9866468.0,9843028.0,9814023.0,9781127.0,None
3,Hungary,1900 Summer,Summer,Paris,Silver,Swimming,Swimming Men's 200 metres Freestyle,HUN,1900,Summer,...,10022650.0,10000023.0,9971727.0,9920362.0,9893082.0,9866468.0,9843028.0,9814023.0,9781127.0,None
4,Hungary,1900 Summer,Summer,Paris,Silver,Swimming,"Swimming Men's 4,000 metres Freestyle",HUN,1900,Summer,...,10022650.0,10000023.0,9971727.0,9920362.0,9893082.0,9866468.0,9843028.0,9814023.0,9781127.0,None

In [68]:
conn = sl.connect('olympic_db.sqlite')

merge_df.to_sql('merge', conn, if_exists='replace', index=False)